@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Sana Sans Alt W00 Black";
  src:
    url("/fonts/sana-sans-alt-black.woff2") format("woff2"),
    url("/fonts/sana-sans-alt-black.woff") format("woff"),
    url("/fonts/sana-sans-alt-black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sana Sans Alt W00 Regular";
  src:
    url("/fonts/sana-sans-alt-regular.woff2") format("woff2"),
    url("/fonts/sana-sans-alt-regular.woff") format("woff"),
    url("/fonts/sana-sans-alt-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sana Sans Alt W00 Thin";
  src:
    url("/fonts/sana-sans-alt-thin.woff2") format("woff2"),
    url("/fonts/sana-sans-alt-thin.woff") format("woff"),
    url("/fonts/sana-sans-alt-thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sana Sans Alt W00 Light";
  src:
    url("/fonts/sana-sans-alt-light.woff2") format("woff2"),
    url("/fonts/sana-sans-alt-light.woff") format("woff"),
    url("/fonts/sana-sans-alt-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sana Sans Alt W00 Book";
  src:
    url("/fonts/sana-sans-alt-book.woff2") format("woff2"),
    url("/fonts/sana-sans-alt-book.woff") format("woff"),
    url("/fonts/sana-sans-alt-book.ttf") format("truetype");
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sana Sans Alt W00 Medium";
  src:
    url("/fonts/sana-sans-alt-medium.woff2") format("woff2"),
    url("/fonts/sana-sans-alt-medium.woff") format("woff"),
    url("/fonts/sana-sans-alt-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sana Sans Alt W00 Bold";
  src:
    url("/fonts/sana-sans-alt-bold.woff2") format("woff2"),
    url("/fonts/sana-sans-alt-bold.woff") format("woff"),
    url("/fonts/sana-sans-alt-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sana Sans Alt W00 Heavy";
  src:
    url("/fonts/sana-sans-alt-heavy.woff2") format("woff2"),
    url("/fonts/sana-sans-alt-heavy.woff") format("woff"),
    url("/fonts/sana-sans-alt-heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-sana: "Sana Sans Alt W00 Black", sans-serif;
  --font-sana-thin: "Sana Sans Alt W00 Thin", sans-serif;
  --font-sana-light: "Sana Sans Alt W00 Light", sans-serif;
  --font-sana-book: "Sana Sans Alt W00 Book", sans-serif;
  --font-sana-regular: "Sana Sans Alt W00 Regular", sans-serif;
  --font-sana-medium: "Sana Sans Alt W00 Medium", sans-serif;
  --font-sana-bold: "Sana Sans Alt W00 Bold", sans-serif;
  --font-sana-heavy: "Sana Sans Alt W00 Heavy", sans-serif;
  --background: rgba(244, 244, 247, 1);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: rgba(224, 0, 26, 1);
  --primary-foreground: oklch(0.985 0 0);
  --primary-muted: rgba(255, 189, 196, 1);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.58 0.22 27);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: rgba(224, 0, 26, 1);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: rgba(224, 0, 26, 1);
  --primary-foreground: oklch(0.985 0 0);
  --primary-muted: rgba(255, 189, 196, 0.35);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: rgba(224, 0, 26, 1);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --font-sans: var(--font-sans);
  --font-sana: var(--font-sana);
  --font-sana-thin: var(--font-sana-thin);
  --font-sana-light: var(--font-sana-light);
  --font-sana-book: var(--font-sana-book);
  --font-sana-regular: var(--font-sana-regular);
  --font-sana-medium: var(--font-sana-medium);
  --font-sana-bold: var(--font-sana-bold);
  --font-sana-heavy: var(--font-sana-heavy);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-primary-muted: var(--primary-muted);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sana-regular;
  }
  html {
    @apply font-sans;
  }
}
